/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

body {
    background-color: #5e0707;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #333;
}

/* Header Styles */
.header {
    background-color: #ffffff;
    color: #5e0707;
    padding: 15px 20px; 
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 40px;
    margin-right: 10px;
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #5e0707;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff8c00;
}
.nav-links button{
    color: #5e0707;
}
.nav-links button:hover {
    color: #ff8c00;
    cursor: pointer;
}

/* Main Insights Section */
.insights {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.intro {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #ffffff;
}

/* Insights Section */
.insight-section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    padding: 30px;
    text-align: center;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.insight-section h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

.insight-section h2 { 
    color: #ffffff;
}

canvas {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Insight Grid */
.insight-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

/* Footer */
.footer {
    text-align: center;
    background-color: #5e0707;
    color: #fff;
    padding: 20px 0;
}

.footer p {
    margin: 0;
    font-size: 1em;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        padding: 10px 15px;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.6em;
    }

    .insight-section h3 {
        font-size: 1.5em;
    }

    .intro {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
    }
}



.personal_insights{
    text-align: left;
    width: 50%;
}

.world_trend{
    text-align: left;
    width: 50%;
}