{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/Leonardo_Phoenix_a_stylized_rounded_and_modern_logo_for_a_fash_3.jpg' %}">
    <title>Sign Up - Closet</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@400;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'images/Leonardo_Phoenix_a_stylized_rounded_and_modern_logo_for_a_fash_3.jpg' %}"
                    alt="Closet Logo" class="logo-img">
                <h1>CLOSET</h1>
            </div>
        </nav>
    </header>

    <section class="signup-container">
        <div class="signup-box">
            <h2>SIGN UP</h2>
            <form action="#" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label for="name">Full Name</label>
                    <input type="text" id="UserName" name="UserName" required>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <label for="gender">Gender</label>
                <select id="gender" name="gender" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    
                </select>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </div>
                <button type="submit" class="signup-button">Sign Up</button>
                <p class="login-link">Already have an account? <a href="login.html">Login</a></p>
            </form>
        </div>
    </section>
</body>

</html>